/* Estilos adicionales con colores llamativos */

#eventos, #recursos {
    background-color: #f8f8f8; /* Cambia el fondo a un gris más claro */
    padding: 60px 0;
}

#eventos p, #recursos p {
    margin-bottom: 20px;
    color: #333; /* Cambia el color del texto a gris oscuro */
}

#recursos ul {
    list-style-type: none;
    padding: 0;
}

#recursos li {
    margin-bottom: 10px;
}

#recursos li a {
    text-decoration: none;
    color: #007bff; /* Cambia el color del texto a azul llamativo */
    font-weight: bold;
}

#recursos li a:hover {
    color: #0056b3; /* Cambia el color del texto a un tono más oscuro de azul al pasar el mouse */
}
